POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-strong-password
POSTGRES_DB=postgres

SITE_URL=http://localhost:8080

JWT_SECRET=replace-with-jwt-secret
REALTIME_SECRET_KEY_BASE=replace-with-realtime-secret

ANON_KEY=replace-with-anon-jwt
SERVICE_ROLE_KEY=replace-with-service-role-jwt
